@model ProjectMarket.Models.AcademicInstitute

@{
    ViewData["Title"] = "מחיקת מוסד אקדמי";
}

<h2>מחיקת מוסד אקדמי</h2>

<h3>האם אתה בטוח שברצונך למחוק את המוסד האקדמי "@Html.DisplayFor(model => model.Name)"?</h3>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחיקה" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לניהול מוסדות אקדמיים</a>
    </form>
</div>
