@model ProjectMarket.Models.AcademicInstitute

@{
    ViewData["Title"] = "פרטי מוסד אקדמי";
}

<h2>פרטי מוסד אקדמי</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">עריכה</a> |
    <a asp-action="Index">חזרה לניהול מוסדות אקדמיים</a>
</div>
