@model ProjectMarket.ViewModels.ProjectFilter

<div class="row">
    <div class="col-xs-12">
        <div class="form-inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPrice" class="control-label"></label>
                <input asp-for="MinPrice" class="form-control" />
                <span asp-validation-for="MinPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPrice" class="control-label"></label>
                <input asp-for="MaxPrice" class="form-control" />
                <span asp-validation-for="MaxPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldOfStudyId" class="control-label"></label>
                @Html.DropDownList("FieldOfStudyId", new SelectList((IEnumerable<FieldOfStudy>)ViewData["FieldsOfStudy"], "Id", "Name"), " ---   בחר תחום לימוד   ---", new { @id = "FieldOfStudyId", @class = "form-control" })
            </div>
            @if (Model.UserId.HasValue)
            {
                <input id="UserId" type="hidden" value="@Model.UserId.Value">
            }
            <div class="form-group">
                <input id="project-filter" type="submit" value="סנן" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card-content">
                <div class="card-desc">
                    <div class="row">
                        <div class="col-xs-9">
                            <h3>NotGraded</h3>
                        </div>
                        <div class="col-xs-1">
                            <i class="far fa-star">2</i>
                        </div>
                        <div class="col-xs-1">
                            <i class="far fa-file">70</i>
                         </div>
                    </div>
                    <div class="card-body">
                        כאן נכניס תיאור קצר
                        </div>
                    <div class="row modal-btn">
                        <a href="/Projects/Details/8" class="btn">פרטים</a>
                        <a href="/Sales/Buy/8" class="btn">קנה</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Projects" class="row">

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/project-filter.js"></script>
}


