@model ProjectMarket.Models.FieldOfStudy

@{
    ViewData["Title"] = "מחיקה";
}

<h2>מחיקה</h2>

<h3>האם אתה בטוח שברצונך למחוק את תחום הלימוד "@Html.DisplayFor(model => model.Name)"?</h3>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחיקה" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לניהול תחומי לימוד</a>
    </form>
</div>
