@model ProjectMarket.Models.Sale
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">קניית פרוייקט</h4>
            </div>
            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <form asp-controller="Sales" asp-action="Grade">
                    
                    <div class="row">
                        <div class="col">
                            <label asp-for="Grade" class="control-label"></label>
                            <input asp-for="Grade" class="form-control" />
                            <span asp-validation-for="Grade" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Rank" class="control-label"></label>
                            <input asp-for="Rank" class="form-control" />
                            <span asp-validation-for="Rank" class="text-danger"></span>
                        </div>
                    </div>

                    <input asp-for="Id" type="hidden" class="saleId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form">
                        <input type="submit" value="עדכן" class="btn btn-lg btn-primary btn-block" />
                    </div>
                    <button type="button" class="btn" data-dismiss="modal">סגור</button>
                </form>
            </div>
        </div>
    </div>
</div>

