@{
    ViewData["Title"] = "התחברות";
}


@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
    })
}


<div class="login-section">
    
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">login</a></li>
            <li role="presentation"><a href="#sign" aria-controls="sign" role="tab" data-toggle="tab">sign</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="login">
                @{Html.RenderPartial("SignIn");}
            </div>
            <div role="tabpanel" class="tab-pane" id="sign">
                @{Html.RenderPartial("Register");}
                @* <form asp-action="Create"> *@
                @*         <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                @*         <div class="form-group"> *@
                @*             <label asp-for="UserName" class="control-label"></label> *@
                @*             <input asp-for="UserName" class="form-control" /> *@
                @*             <span asp-validation-for="UserName" class="text-danger"></span> *@
                @*         </div> *@
                @*         <div class="form-group"> *@
                @*             <label asp-for="EMail" class="control-label"></label> *@
                @*             <input asp-for="EMail" class="form-control" /> *@
                @*             <span asp-validation-for="EMail" class="text-danger"></span> *@
                @*         </div> *@
                @*         <div class="form-group"> *@
                @*             <label asp-for="Password" class="control-label"></label> *@
                @*             <input asp-for="Password" class="form-control" /> *@
                @*             <span asp-validation-for="Password" class="text-danger"></span> *@
                @*         </div> *@
                @*         <div class="form-group"> *@
                @*             <div class="checkbox"> *@
                @*                 <label> *@
                @*                     <input asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin) *@
                @*                 </label> *@
                @*             </div> *@
                @*         </div> *@
                @*         <div class="form-group"> *@
                @*             <input type="submit" value="Create" class="btn btn-default" /> *@
                @*         </div> *@
                @*     </form>                 *@
            </div>
        </div>
</div>