
@{
    ViewData["Title"] = "Login";
}

<h2>התחברות</h2>

<form asp-action="Login">
    <input type="text" min="4" max="20" name="UserName" id="username" placeholder="אנא הכנס שם משתמש" />
    <input type="password" min="8" max="200" name="Password" id="password" placeholder="אנא הכנס סיסמה" />
    <input type="submit" name="Submit" value="שלח" />
</form>

