@model IEnumerable<ProjectMarket.Models.Project>

@{
    ViewData["Title"] = "חנות";
}

<h2>חנות פרויקטים</h2>
    
    <div class="row">
            
        @foreach (var item in Model)
        {
            <div class="col-xs-6 col-lg-4">
              <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
              <p>@Html.DisplayFor(modelItem => item.Description) </p>
              <p>@Html.ActionLink("פרטים", "Details", item)</p>
            </div>
        }
    </div>
    

