@using ProjectMarket.ViewModels;
@model IEnumerable<ProjectMarket.ViewModels.ProjectInStoreView>

@{
    ViewData["Title"] = "חנות";
}

<h2>חנות פרויקטים</h2>
<partial name="ProjectFilter" model="new ProjectFilter()" view-data="ViewData" />

@section Scripts{
    <script src="~/js/project-filter.js"></script>
}
