@model ProjectMarket.ViewModels.UsersFilter

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        @if(ClaimsExtension.IsAdmin(Context)){
        <div class="form-group">
            <label asp-for="IncludeDeleted" class="control-label"></label>
            <input asp-for="IncludeDeleted" class="form-control" />
            <span asp-validation-for="IncludeDeleted" class="text-danger"></span>
        </div>
        }
        <div class="form-group">
            <input id="users-filter" type="submit" value="סנן" class="btn btn-default" />
        </div>
    </div>
</div>

